header{
    border-radius: 1px solid;
}
.reddit-text{        
    font-weight: 700;
    height: 50px;
    width: 50px;    
}

.login, .sign-up{    
    background-color: transparent;
    border-color: #0079D3;
    color: #0079D3;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    padding: 3px 16px;
}

.sign-up{
    background-color: #0079D3;
    border-color: #0079D3;
    color: aliceblue;
}